<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

  </head>
  <body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-4">
        <span>Jogar</span>
      </div>

      <div class="col-xs-4">
        <div>Switch</div>
      </div>

      <div class="col-xs-4">
        <span>Pais e Professores</span>
      </div>

    </div>

    <div class="row">
      <div>Logo</div>
      <span>Entre para começar a brincar</span>
      <input type="text" placeholder="Apelido">
      <input type="text" placeholder="Senha">
      <a href="" data-transition="none">Entrar</a>
    </div>

    <div class="row">
      <p>Ainda não tem cadastro?</p>
      <a href="register1.html" data-transition="none">Cadastre-se</a>
    </div>

  </div>

  </body>

  <script src="../static/js/index.js"></script>

</html>
