<div class="container-fluid">

  <div class="row">
    <div class="col-xs-2">
      <div>Back Button</div>
    </div>

    <div class="col-xs-10">
      <span>Cadastro</span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <div>1</div>
    </div>

    <div class="col-xs-4">
      <div>2</div>
    </div>

    <div class="col-xs-4">
      <div>3</div>
    </div>
  </div>

  <div class="row">
      <input type='text' placeholder="Qual seu nome?"></input>
  </div>

  <div class="row">
      <input type='text' placeholder="Qual seu sobrenome?"></input>
  </div>

  <div class="row">
      <input type='text' placeholder="Qual sua idade?"></input>
  </div>

  <div class="row">
      <input type='text' placeholder="Email do responsável"></input>
  </div>

  <div class="row">
    <a href="#register2">Próximo</a>
  </div>



</div>
