<div data-role="page" id="register1">
  <div data-role="header">
    <h1>Welcome To My Homepage</h1>
  </div>

  <div data-role="main" class="ui-content">
    <p>This is Page Two. If you click on the link below, it will take you to Page One.</p>
    <a href="index.html" data-transition="none">Go to Page One</a>
  </div>

  <div data-role="footer">
    <h1>Footer Text</h1>
  </div>
</div>



<!-- <!DOCTYPE html>

<html>

  <div class="row">
    <p> Cadastro </p>
  </div>

  <div class="row">
    <p> 1 2 3 </p>
  </div>

  <div class="row">
    <input type="text" class="form-control" id="name"> </input>
    <input type="password" class="form-control" id="pwd"> </input>
    <input type="text" class="form-control" id="age"> </input>
    <input type="text" class="form-control" id="email"> </input>
  </div>

  <div class="row">
    <button id="submit" type="submit" class="btn btn-default">Próximo</button>
  </div>

  <script src="../static/js/register.js"></script>

</html> -->
