body {
    background-color: #f4f5f6;
}

.paternblue {
    background-image:url(assets/pattern-blue.png);
}


@font-face {
    font-family: 'From Where You Are';
    src: url('fonts/fromwhereyouare-webfont.woff2') format('woff2'),
         url('fonts/fromwhereyouare-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mikado Regular';
    src: url('fonts/mikado_regular-webfont.woff2') format('woff2'),
         url('fonts/mikado_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
     font-family: 'Mikado Medium';
     src: url('fonts/mikado_medium-webfont.woff2') format('woff2'),
          url('fonts/mikado_medium-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;

 }

 @font-face {
    font-family: 'Mikado Bold';
    src: url('fonts/mikado_bold-webfont.woff2') format('woff2'),
         url('fonts/mikado_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p{
font-family: "Mikado Regular";
font-size: 1.4em;
line-height: 20px;
color:#868686;
}

i{
  color:#F1CF17;
  font-size: 2.3em !important;
  margin-right: -20px;
}

.write{
  color: #FFF !important;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* Top Bar */

nav {
  height: 11%;
  background-color: #00a5c1;
  top: 0px;
  position: fixed;
  z-index: 700;
}

nav .button-collapse {
    width: 20%;
}

.headeruser{
  background-image:url(assets/pattern-blue.png);
}

.profile {
    float: left;
    width: 100%;
}

.profile_pic {
    margin-left: 5%;
    margin-top: 5%;
    width: 100%;
    border-radius: 50%;
    border: 4px solid #6451aa;
}

.logoadm{
  width: 50%;
  border-radius: 10px;
}



.feedback{
  color:#D80F44;
  font-family: "Mikado Regular";
}

.textcadastro{
  margin-top: 15px;
  margin-bottom: 5px;
 margin-left: 10px;
}

.titulodesativo{
  color:#636363;
  margin-top: 10%;
  margin-bottom: 30px;
}

.sairicon{
  width: 20%;
  float: right;
  margin-top: 15%;
}

.headeradm{
  background-color: #5e5ca8;
}

.status {
    float: right;
    display: inline;
    font-family: 'From Where You Are';
    font-weight: 100
}

.fromfont {
    padding: 10px;
    font-size: 1.3em;
}

.number_nav {
    color: #f0ce17;
    padding: 3px
}

.days_internal {
    margin-left:20px;
}


.status-settings {
    background-image:url(assets/pattern-blue.png);
    height:25%;
}

.profile_pic_big {
    margin-top: 5%;
    height:80px;
    border-radius: 50%;
    border: 4px solid #6451aa;
    margin-left:10%;
}

.status_internal {
    float: left;
    margin-left:10%;
    display: inline;
    font-family: 'From Where You Are';
    font-weight: 100;
        margin-top:-5%;
}

.tuto-text{
line-height: 19px;

}

.tute-img{
width: 75% !important;
}

.user_name{
    float: right;
    margin-top: 17%;
    margin-right: 30%;
    font-family: 'From Where You Are';
    color:#FFF;
}

.side-nav li {float:left}

.desc-level{
    font-family: 'From Where You Are';
    color:#dadada;
    float:right;
    margin-right: 5%;
}

.pad-level{
    margin-top:-10px;
}

.btn-change{
    float: right;
    background-color: #5e4c95 !important;
    padding: 2px;
    border-radius: 10px;
    width: 37px;
    height: 37px;
    margin-right: 20px;
}

.btn-search{
  float: right;
  background-color: #5e4c95 !important;
  padding: 2px;
  border-radius: 10px;
  width: 37px;
  height: 37px;
  margin-top: 7px;
}

.vertical {
    transform:rotate(-90deg) !important;
    -ms-transform:rotate(-90deg) !important; /* IE 9 */
    -webkit-transform:rotate(-90deg) !important;
    height:25px !important;
    width: 280px !important;
    border-radius: 20px !important;
    background-color:#dadada !important;
    margin-top: 130px;
    margin-left: -120px;
}

.progress .determinate{
    border-radius:30px;
}

.horizontal{
  border-radius: 20px !important;
  background-color:#dadada !important;
  width: 100%;
  height:12px !important;
}

.nivel_metrica{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
}

.blue{
    background-color:#00a5c1 !important;
}

.blue-text{
    color:#00a5c1 !important;
}

.pink{
    background-color:#d04386 !important;
}

.pink-text{
    color:#d04386 !important;
}

.purple{
    background-color:#5e5ca7 !important;
}

.purple-text{
    color:#5e5ca7 !important;
}

.orange{
    background-color:#f79d1f !important;
}

.orange-text{
  color:#f79d1f !important;
}

.greenv{
    background-color:#B3D035 !important;
}

.greenv-text{
    color:#B3D035 !important;
}

.data-status {
    font-family: 'Mikado Regular';
    color:#bbbbbb;
    display:block;

}

.active-status{
    font-family: "Mikado Bold";
    color:#00a5c1;
}

.status-titles{
        float:none!important;
        line-height: 40px!important;
        font-size:20px;
}


a.btn_area {
    background-color: #5e4c95 !important;
    border-radius: 20px;
    margin: 30px;
    text-align: center;
    color: #fff;
    font-family:"Mikado Regular";
    font-size:20px;
}

a.btn_sair {
    background-color: #999;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    font-family:"Mikado Regular";
    font-size:20px;
    margin-top:-5%;
    margin-left: 40%;
    margin-right: 10%;

}

.bgpurple{
  background-image:url(assets/pattern-purple.png);
}


.bgwrite{
  background-image:url(assets/pattern-write.png);
}

.bgblue {
    background-image:url(assets/pattern-blue.png);
}


/* Menu */

.menu_toolbar {
  position: fixed;
  border-radius: 40px 40px 0px 0px;
  background-color: #2eadcf;
  width: 100%;
  height: 10%;
  bottom: 0px;
}

.toolbar_text {
  font-family: 'Mikado Regular';
  text-align: center;
  color: #0e5f72 !important;
  margin-top: -11px;
  font-size: 1.3em;
}
.textmenu{
  font-family: 'Mikado Regular';
  text-align: center;
  color: #FFF !important;
  margin-top: -15px;
  font-size: 1.3em;
}

.icon_toolbar {
    width: 40%;
    margin-top: 4px;
}

.divisor {
    border-right: 2px #2092b1 solid;
}

.escolherdesafio{
  line-height: 17px;
  text-align: center;
}
.menu-on{
 background-color: #5e5ca7;
 color:#f0ce17 !important;
border-radius: 40px 40px 0px 0px;
}


.ant-pad.row {
    margin-bottom: 10px;
}

.m-right{
  padding-right: 10px;
}

.m-left{
  padding-left: 10px;
}

.content_app {
  background-color: #fff;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5%;

    -webkit-box-shadow: 7px 13px 14px -4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 7px 13px 14px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 7px 13px 14px -4px rgba(0, 0, 0, 0.1);
}

.app_margin {
  margin-top: 22%;
}


.title_challenge {
    border-bottom: #dadada 2px solid;
    margin: 0px !important;
}

h1 {
    font-family: 'From Where You Are';
    font-size: 2em;
    color: #2eadcf;
    margin:0px;
}

h2 {
    font-family: 'From Where You Are';
    font-size: 17px;
    color: #2eadcf;
    margin:0px;
}

.cadastro{
  margin-left: -20%;
  margin-top: 10px;
}

.data-single {
    font-family: "From Where You Are";
    font-size: 0.9em !important;
    color: #5e4c95;
    margin-top: 3px;
    margin-bottom: 3px;

}

.highlight-data {
    font-size: 16px;
    color: #00a5c1;
}


.btn_adm{
  width: 45px;
 float: right;
 margin-top: -40px;
}

.btn-fechar{
  width: 40px;
  float: left;
}

.mini-icon {
    width: 30%;
    margin-right: 5px;
    float: left;
}

.back-icon{
  width: 40px;
  margin-right: 5px;
}

.divisor2 {
    border-right: 2px solid #dadada;
}

.gif_animation_center {
    position: absolute;
        width: 100%;

}
.animation {
  position: absolute;
    margin-top: 10%;
    height: 200px;
    width: 200px;
}

.btn-move {
    margin-top: -12px;
}


.button-change {
    display: inline;
    font-family: "Mikado Regular";
    font-size: 16px;
}

.grafico canvas {
        transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);

}

.circle{
  z-index: 10;
  position: absolute;
}

#main-intern-div{
  margin-top: 22%;
}


/* desafios */

.tabs .tab {
   min-width: 0px !important;
}

.des-icon {
    width: 60%;
    margin-right: 5px;
}

.title-desafio{
  	margin-top:3%;
  	margin-left:2%;
}

.list-desafio{
  border-bottom: #dadada 2px solid;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.list-desafio p {
  color:#8b8e90;
  font-size: 16px;
  font-family: "Mikado Regular";
  margin: 0px;
}
.lebre{
  color:#d04386 !important;
}

.guepardo{
  color:#5e5ca7 !important;
}

.alerttext{
  color: #2ba2c2;
  font-size: 1.5em;
}

.alertimg{
width: 50%;
}

.cachorro{
  color:#f79d1f !important;
}


.desativar{
  background-color: #9e9e9e !important;
}

.ativar{
  background-color: #b3ce35 !important;
}

h3{
    font-family: 'From Where You Are';
    font-size: 17px;
    margin: 0px;
}

.semmargin{
  margin: 0px !important;
}
.collection p{
  font-size: 1em;
}

.outlinee{
  font-family: "Mikado Bold"
  color: #5e4c95;
}

.title{
font-family: 'From Where You Are';
 font-size: 1.2em !important;
 color: #5e4c95;
}

.noneview{
  display: none;
}

.icoplus{
  font-family: 'Mikado Bold';
  font-size: 50px;
  margin-top: -25px;
  position: absolute;
}


.logo{
  width: 45%;
  margin-bottom: -30px;
}


.sw-margin{
  margin-top: 5%;
  margin-left: -20%;
}
.sw{
  font-size: 1.3rem;
  color: #ffffff;
  font-family: "Mikado Medium"
}
.break-word {
word-wrap: break-word;
width: 100px;
line-height: 90%;
position: absolute;
text-align: left;
}

  /* FORM WIZARD  */

  .row .wizard-element{
    padding-left: 10%;
  }
  .wizard-group{
    z-index: 3;

  }

  .wizard{
    font-family: 'From Where You Are';
    height: 50px;
    width: 50px;
    border-radius: 50px;
    font-size: 2em;
    padding-top: 5px

  }
  .wizard-on{
    background-color: #5E5CA8;
    color:#FFF;
    border: 3px solid #4c4a9c;
  }

    .wizard-off{
    background-color: #FFF;
    color:#5E5CA8;
    border: 3px solid #5E5CA8;
  }

    .wizard-complete{
    background-color: #B3D035;
    color:#FFF;
    border: 3px solid #a5c12b;
  }
  .linha{
    background-color: #5E5CA8;
    width: 100%;
    content: '';
    height: 3px;
    z-index: 1;
    position: relative;
    color: #5E5CA8;
    margin-bottom: 20px;
  }

::-webkit-input-placeholder {
    color: #2EADCF;
}

:-moz-placeholder {
   color: #2EADCF;
}

.anima-perso{
  width: 50% !important;
}

.card-change{
  margin-top: 20%;
}

.sticker{
  width: 95%;
}

h4{
  font-family: 'From Where You Are';
  font-size: 1.6em;
  color: #5e4c95;
}



h5{
  font-family: 'From Where You Are';
  font-size: 1.3em;
  color: #5e4c95;
}

.modal-content p{
  font-size: 1.3em;
}

.icon_modal{
    margin-top: -30px;
    width: 25%;
    position: fixed;
    margin-left: -15px;
}

.tile-modal{
  margin-top: 10px;
  margin-left: 10px;
}

.img-modal{
  width: 70%;
}

.dividor-horizontal{
  border-bottom: 2px solid #e0e0e0;
}

.amigos-modal{
  width: 20%;
  width: 20%;
  position: relative;
  border: 3px solid #5e5ca7;
}

.img-desafio{
  position: absolute;
  z-index: 12;
  margin-top: -230px;
  margin-left: 38px;
  height: 210px;
}

#backButton{
  display: block;
  height: 35px;
  width: 35px;
}

.formpais{
  border-radius: none;
  border-top: 3px solid #5E5CA8 !important;
  border-bottom: 3px solid #5E5CA8 !important;
}

.drag-target{
  width: 10% !important;
}

#nome-amigo{
  color:#2a9fbf;
  font-weight: bold;
}

.tituloadm{
  margin-bottom: 20px;
}

.icoamigo{
      font-family: 'Mikado Bold';
      font-size: 50px;
      margin-top: -35px;
      position: absolute;
      padding-left: 60%;
      float: right;
      color:#2eadcf;
}

.addamigo{
  background-color: rgba(46, 173, 207, 0.14) !important;
  line-height: 1.5rem !important;
  margin: 0 !important;
  /* color: #0089ec; */
  border-bottom: 1px solid rgba(46, 173, 207, 0.47) !important;
}

.treinadorselect{
  width: 50px;
}

.modalsticker{
  border: 10px solid rgb(239, 239, 239);
  border-radius: 30px;
}
